@import "keyboard.css";

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.panel{
	width: 500px;
	height: 80px;
	position: absolute;
	top: 50px;
	left: calc(50% - 250px);
	background-color: #ecfafa;
	border: solid #eef0e6 1px;
	padding: 10px;
}
#cover{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: xx-large;
	z-index: 1;
}
#source{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#source > .key{
	color: white;
	background-color: gray;
	text-align: center;
}
#source > .key:hover{
	box-shadow: -2px 2px #444;
}
.correct{
	background-color: green !important;
}
.incorrect{
	background-color: red !important;
}

#clock{
	height: 100px;
	width: 100px;
	background-color: gray;
	color: black;
	border: none;
	font-size: 30px;
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}


