@import "keyboard.css";


:root{
	--error-background-color:  rgb(247, 186, 186);
	--error-color: red;
	--okay-background-color: rgb(156, 240, 156);
	--okay-color: rgba(0, 128, 0, 1);	
	--info-background-color: rgb(194, 194, 252);
	--info-color: blue;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.panel{
	width: 500px;
	height: 80px;
	position: absolute;
	top: 50px;
	left: calc(50% - 250px);
	background-color: #ecfafa;
	border: solid #eef0e6 1px;
	padding: 10px;
}

#cover{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: xx-large;
	z-index: 1;
}

#source{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#source > .key{
	color: white;
	background-color: gray;
	text-align: center;
}

#source > .key:hover{
	box-shadow: -2px 2px #444;
}

.okay{
	background-color: var(--okay-background-color) !important;
	color: var(--okay-color) !important;
}

.error{
	background-color: var(--error-background-color) !important;
	color: var(--error-color) !important;
}
.info{
	background-color: var(--info-background-color) !important;
	color: var(--info-color) !important;
}

#clock{
	height: 120px;
	width: 120px;
	background-color: gray;
	color: black;
	border: none;
	font-size: 30px;
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}


